.intro {
    padding: 159px 0;
    background: linear-gradient(to left bottom, #1a2066, #000000, #0095ff);

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 80px;
        font-weight: 600;
        margin-bottom: 50px;
        width: 650px;
        line-height: 1.2;
        color: $white;

        span {
            color: $coral;
        }
    }

    &__italic {
        width: 440px;
        font-style: italic;
        color: $pink;
        opacity: 0.5;
    }

    &__right-text {
        width: 440px;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
        color: #a1a3a8;
    }


    &__right {

        hr {
            width: 60px;
            height: 4px;
            background-color: $coral;
            border: none;
            margin-bottom: 85px;
        }
    }

    &__social {
        margin-top: 40px;

    }

    &__social-icons {
        margin-right: 15px;
        color: $white;
        transition: 0.2s ease;
    }

    &__social-icons:hover {
        color: $pink
    }
};


// Breakpoints


//Breakpoint 1130px
@media only screen and (max-width: 1130px) {
    .intro__content {
        justify-content: center;
    }

    .intro__title {
        text-align: center;
    }

    .intro__italic {
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        text-align: center;
    }

    .intro__right-text {
        text-align: center;
        width: 550px;
    }

    .intro__right > hr {
        display: none;
    }

    .intro__social {
        text-align: center;
        margin-top: 60px;
    }
}



//Breakpoint 650px
@media only screen and (max-width: 650px) {
    .intro__title {
        font-size: 60px;
        width: 450px;
    }

    .intro__right-text {
        width: 300px;
        font-size: 18px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 478px) {
    .intro__title {
        font-size: 50px;
        width: 300px;
        margin-bottom: 30px;
    }

    .intro__italic {
        width: 300px;
        margin-bottom: 70px;
        width: 275px;
    }

    .intro__right-text {
        font-size: 17px;
        line-height: 26px;
    }
}