.skip-link {
    position: absolute;
    top: 0;
    background-color: $white;
    color: red;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.skip-link:not(:active):not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }